{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Current Interests</h1>
<ul class="list-group list-group-flush" id="interests">
  {% for interest in user.interests %}
  <li class="list-group-item">
    {{ interest.name }}
    <button type="button" class="close" onClick="deleteInterest({{ interest.id }})">
      <span aria-hidden="true">&times;</span>
    </button>

  </li>
  {% endfor %}
</ul>

    <br>
    <br>
    <br>
    <br>
    <br>
<h5 align="center">Add a New One</h5>

<form method="POST">
  <textarea name="interest" id="interest" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
{% endblock %}